# Index
1. Libraries
2. Data Sets
3. Data Cleaning
4. Data Exploration
5. Data Export

## 01 Libraries

In [4]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## 02 Data Sets

In [6]:
# creating a path
path=r'/Users/konstant/Documents/Achievement 6 - Advanced Analytics and Dashboard design'

In [7]:
#Importing data set
df= pd.read_csv(os.path.join(path,'02 Data','Original Data','food_wastage_original.csv'),index_col = False)

In [8]:
# checking the columns

In [9]:
df.columns.tolist()

['Country',
 'Year',
 'Food Category',
 'Total Waste (Tons)',
 'Economic Loss (Million $)',
 'Avg Waste per Capita (Kg)',
 'Population (Million)',
 'Household Waste (%)']

In [10]:
# checkign the info of the data frame

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    5000 non-null   object
 1   Year                       5000 non-null   int64
 2   Food Category              5000 non-null   object
 3   Total Waste (Tons)         5000 non-null   float64
 4   Economic Loss (Million $)  5000 non-null   float64
 5   Avg Waste per Capita (Kg)  5000 non-null   float64
 6   Population (Million)       5000 non-null   float64
 7   Household Waste (%)        5000 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 312.6+ KB

## 03 Data Cleaning

In [13]:
# checking for mixed data types

In [14]:
for col in df.columns.tolist():
  weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [15]:
# No results indicate no mixed data types in the columns

In [16]:
# Now checking for missing values

In [17]:
df.isnull().sum()

Country                      0
Year                         0
Food Category                0
Total Waste (Tons)           0
Economic Loss (Million $)    0
Avg Waste per Capita (Kg)    0
Population (Million)         0
Household Waste (%)          0
dtype: int64

In [18]:
# Now checking for duplicates

In [19]:
# Fist create a subset then check duplicates
df_dups=df[df.duplicated()]

In [20]:
# No output indicates no true duplicates

In [21]:
# While exploring the data, it was noticed that some contries contained the multiple entries of food catgeory for the same year. 
# The code below is used to aggregate the data to give only 1 row per combination of country, year and food category.

In [22]:
df.shape

(5000, 8)

In [23]:
aggregated_df = df.groupby(['Country', 'Year', 'Food Category'], as_index=False).agg({
    'Total Waste (Tons)': 'sum',
    'Economic Loss (Million $)': 'sum',
    'Avg Waste per Capita (Kg)': 'mean',
    'Population (Million)': 'mean',
    'Household Waste (%)': 'mean'})

In [24]:
aggregated_df.shape

(1106, 8)

## 04 Data Exploration

In [26]:
# Basic descriptive statistics

In [27]:
aggregated_df.describe(pd.set_option('display.float_format', '{:.2f}'.format))

,Year,Total Waste (Tons),Economic Loss (Million $),Avg Waste per Capita (Kg),Population (Million),Household Waste (%)
count,1106.00,1106.00,1106.00,1106.00,1106.00,1106.00
mean,2021.00,113299.19,113199.38,109.54,705.68,50.07
std,2.00,59814.80,60418.03,27.19,213.37,6.07
min,2018.00,1831.93,1767.05,22.08,23.06,30.59
25%,2019.00,68940.69,68629.23,92.24,574.91,46.36
50%,2021.00,107002.42,105021.51,109.57,705.29,50.17
75%,2023.00,151050.18,150708.82,126.09,837.21,53.91
max,2024.00,353377.86,356290.34,198.83,1395.67,69.17

In [28]:
# checking the data frame headings

In [29]:
aggregated_df.head()

,Country,Year,Food Category,Total Waste (Tons),Economic Loss (Million $),Avg Waste per Capita (Kg),Population (Million),Household Waste (%)
0,Argentina,2018,Bakery Items,72290.69,71749.94,60.37,528.20,59.03
1,Argentina,2018,Beverages,127249.21,128791.57,131.80,525.78,37.18
2,Argentina,2018,Dairy Products,28971.41,25935.06,94.50,680.02,54.29
3,Argentina,2018,Frozen Food,78925.33,87757.40,123.78,991.53,62.29
4,Argentina,2018,Grains & Cereals,152731.27,156398.00,122.70,676.60,53.57

## 05. Data Export

In [31]:
# Exporting prepared data set as csv

In [32]:
aggregated_df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'global_food_wastage_prepared.csv'))